.shopping-cart {
  width: 750px;
  height: auto;
  margin: 5em auto;
  background: $white;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;

  /* item styling */
  .title {
    height: 3.75em;
    border-bottom: 1px solid #e1e8ee;
    padding: 1.25em 1.75em;
    color: #5e6977;
    font-size: 1.125em;
    font-weight: 400;
  }
  .item {
    padding: 1.25em 1.75em;
    height: 7.5em;
    display: flex;
  }
  .item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
  }

  .buttons {
    position: relative;
    padding-top: 1.75em;
    margin-right: 3.5em;
    .delete-btn {
      display: inline-block;
      cursor: pointer;
      width: 18px;
      height: 17px;
      background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg")
        no-repeat center;
    }
  }
  .imager {
    margin-right: 50px;
  }
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
    span {
      display: block;
      font-size: 1em;
      color: #43484d;
      font-weight: 400;
    }
    span:first-child {
      margin-bottom: 5px;
    }
    span:last-child {
      font-weight: 300;
      margin-top: 8px;
      color: #86939e;
    }
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
    input {
      -webkit-appearance: none;
      border: none;
      text-align: center;
      width: 32px;
      font-size: 1em;
      color: #43484d;
      font-weight: 300;
    }
  }

  button:focus,
  input:focus {
    outline: 0;
  }

  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 1em;
    color: #43484d;
    font-weight: 300;
  }
}

/* media queries */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
